html {
  height: 100%;
}
body {
  margin: 0 auto;
  height: 100%;
}

.app {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.camera {
  position: relative;
  overflow: hidden;
}

.video {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  width: 100%;
  height: 100%;
  /* opacity: 0.5; */
}
.canvas-wrapper {
  position: relative;
}

.button {
  position: absolute;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  font-size: 0;
  bottom: 20px;
  left: 0;
  right: 0;
  margin: auto;
  border: 2px solid white;
}

.button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 56px;
  height: 56px;
  border-radius: 50%;
  background: white;
}

.loader,
.loader:after {
  border-radius: 50%;
  width: 10em;
  height: 10em;
}
.loader {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  z-index: 999;
  font-size: 10px;
  text-indent: -9999em;
  border-top: 1.1em solid rgba(62, 50, 228, 0.2);
  border-right: 1.1em solid rgba(62, 50, 228, 0.2);
  border-bottom: 1.1em solid rgba(62, 50, 228, 0.2);
  border-left: 1.1em solid rgba(62, 50, 228);
  transform: translateZ(0);
  animation: load8 1.1s infinite linear;
}
@keyframes load8 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  pointer-events: none;
}

.modal.active {
  opacity: 1;
  pointer-events: auto;
}

.modal__overray {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 1;
}

.modal__contents {
  position: relative;
  max-width: 300px;
  width: 100%;
  margin: 0 auto;
  z-index: 2;
}

.modal__image {
  width: 100%;
}

.modal__button {
  margin: 8px auto;
  display: block;
}

.change-button {
  position: fixed;
  bottom: 20px;
  left: 20px;
  z-index: 1000;
  background-color: white;
  padding: 8px 13px;
  font-size: 12px;
}
